.bannerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
  text-align: center;
  margin-top: 6rem ;
}

.bannerImg {
  border-radius: 50%;
  border: 6px solid #7827B6;
}

.textContainer{
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.bannerTitle {
  font-size: 46px;
  color: #ffffff;
}

.bannerSubtitle {
  font-size: 22px;
  color: #A3ABB2;
}

.socialIcon {
  color: #A3ABB2;
  font-size: 24px;
}