@import 'tailwindcss/base';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

html,
body {
  background-color: #021706;
  margin: 0;
  font-family:'Poppins',sans-serif;
  color: aliceblue;
}
